.container {
  max-width: 70rem;
  background-color: rgba(#ffff, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.selectedDate {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  justify-content: flex-start;
  align-items: center;
}

.dates {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.month {
  font-size: 2.5rem;
}

.arrow {
  font-size: 2.5rem;
  cursor: pointer;
}

.days {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;

  &.border {
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
}

.selectedDay {
  background-color: rgba(grey, 0.2);
}
